.row{
  display: flex;
  justify-content: center;  
  margin-top: 20px;
}
.row1{
    border:solid red;
    background-color: black;
    color: white;
    width: 150px;
    height:auto;
    text-align: center;
    margin: auto;
}
.col{
    margin: auto;
} 

.row2{
    border:solid red;
    background-color: black;
    color: white;
    width: 80px;
    height:auto;
    text-align: center;
    margin: auto;
}

.skillAbtributes{
    border:solid red;
    background-color: black;
    width: 400px;
    height: auto;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.bottomRow{
    display: flex;
   justify-content: center;
   margin-top: 10px;
   
}

.skillAbtributes2{ 
    border:solid red;
    background-color: black;
    width: 400px;
    height: auto;
    color: white;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10px;
}

.dice{
    height:100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    color:honeydew;
    font-size: 75pt;
    text-align: center;
    margin-left: 10px;
}

body{
    background-color: gray;
    width: 1000px;
}
.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.diceContainer h2{
    color: gold;
}

nav{
    height: auto;
    width: 50vw;
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    font-size: 50px;
    word-spacing: 5ch;
    border:solid red ;
    border-radius: 20%;
    align-items: center;
}

li {
    display: inline;
  }

  ul {
    list-style-type: none;
  }

img{
    border: solid black;
}






