.row{
  display: flex;
  justify-content: center;  
  margin-top: 20px;
}
.row1{
    border:solid red;
    background-color: black;
    color: white;
    width: 150px;
    height:auto;
    text-align: center;
    margin: auto;
}
.col{
    margin: auto;
} 

.row2{
    border:solid red;
    background-color: black;
    color: white;
    width: 80px;
    height:auto;
    text-align: center;
    margin: auto;
}
